.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background: rgb(2, 27, 27);

  .button button {
    font-family: "Trebuchet MS", sans-serif;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background: rgb(16, 173, 95);
    cursor: pointer;
  }

  .button button:hover {
    color: #cdb4db;
    transition: ease-in-out 200ms;
  }
}
